### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [268]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
pd_df = purchase_data.copy()
pd_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [20]:
#checking there are values for all the fields on the table - Check OK
pd_df_player_count_check = pd_df.count()
print(pd_df_player_count_check)

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [147]:
pd_df_player = pd_df["SN"].unique()
pd_df_player_count = len(pd_df_player)
#print(f'Number of Players: {pd_df_player_count}')
pd_df_player_table = pd.DataFrame({"Number of Players": [pd_df_player_count]})
pd_df_player_table.head()

   Number of Players
0                576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [63]:
uniqueItemID = pd_df["Item ID"].unique()
print(uniqueItemID)

[108 143  92 100 131  81 169 162  21 136  95 116   4 165  98  40 161  82
  89  57 168  24 151 141 178  71  96 119  37 140 179 133  44 160  53  76
  73 172   7  72   9 181 102 170 138 110  22  15  60 176  25  84  80 152
 105 125  56  34   6  27  29  68 124  88  20  50 174  12  33 129  17  59
  39 164 134 101 109  10  54  99  85 139  41 150  13 117  78  87   1  62
  75  58  74 120 145   0   2 146 158   8 175  46 148 111   3  65 183  30
 157 123   5 144 103 135  51 154  32  77  11  63  69 113 153 114 149 159
 137 142  66  97 163 107  16  42  19  83  23  28  94 182  70  18 166 173
 167 155 128 156 147  35 171  52 106  38  91 118  67  45  49 121  79  14
  43  31  64  86  93  26 122  61  48 112 126 115  55 132 127  47 130  90
 177 104 180]

In [64]:
uniqueItemIDcount = len(uniqueItemID)
print(uniqueItemIDcount)

183

In [71]:
average_price = round(pd_df.Price.sum() / pd_df_player_count,3)
print(average_price)

3.051

In [72]:
total_revenue = pd_df.Price.sum()
print(total_revenue)

2379.77

In [76]:
number_purchases = len(pd_df["Item ID"].unique())
print(number_purchases)

183

In [588]:
summary_table = pd.DataFrame({"Number of Unique Items": [uniqueItemIDcount], "Average Price [$]": [average_price], \
                              "Number of Purchases": [number_purchases], "Total Revenue [$]": [total_revenue]})
summary_table.head()

,Number of Unique Items,Average Price [$],Number of Purchases,Total Revenue [$]
0,183,3.051,183,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [264]:
#gender = pd_df["Gender"]
#print(len(gender))
#print(len(pd_df_player))
gen_dem = pd_df[["SN","Gender"]]
gen_dem = gen_dem.drop_duplicates() 

#(subset = 'SN', keep = False)#.reset_index(drop=True)
#gen_dem = gen_dem.groupby(["Gender"])
#gen_dem_player = pd_df["SN"].unique()
#data.drop_duplicates(subset ="First Name", keep = False, inplace = True
#gen_dem_player2 = [[gen_dem_player], pd_df["Gender"]]
#gen_dem_player3 = gen_dem_player2.groupby(["Gender"])
#gen_dem_player = gen_dem_player.groupby(["Gender"]) pd.DataFrame({"Number of Sightings": state_counts,
#gen_dem = gen_dem.rename(columns={"SN":"Total Count"})
#gen_dem.head()

gen_tot = gen_dem["Gender"].value_counts()


gen_pct = round(gen_tot * 100 / pd_df_player_count, 2)

summary_dem = pd.DataFrame({"Total Count": gen_tot, "Percentage of Players (%)": gen_pct})
summary_dem
#summary_gen_dem = {"total": gen_tot, "percent": gen_pct}

#test = gen_tot.groupby(["Gender"]).count().head()
#gen_dem_summary.head()
#gen_pct = gen_dem.groupby(["Gender"]) * 100 / pd_df_player_count
#gen_dem_summary["Percentage of Players"] = gen_pct
#gen_dem=gen_dem(["Percent"])
#gen_dem_summary.count().head()

                       Total Count  Percentage of Players (%)
Male                           484                      84.03
Female                          81                      14.06
Other / Non-Disclosed           11                       1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [329]:
#gen_prch_cnt = pd_df["Gender"].value_counts()
gen_prch_cnt = pd_df.groupby(["Gender"]).count()["Price"]
#gen_prch_cnt
gen_prch_avg = round(pd_df.groupby(["Gender"]).mean()["Price"],2)
#gen_prch_avg
gen_prch_tot = pd_df.groupby(["Gender"]).sum()["Price"]
#gen_prch_tot
gen_tot_gp = pd_df[["SN","Gender"]].drop_duplicates().groupby(["Gender"]).count()["SN"] 
gen_purch_pp = round(gen_prch_tot / gen_tot_gp,2)
#gen_purch_pp
#e.groupby(["Gender"])# / pd_df_player_count

#gen_prch_avg_pp = gen_prch_tot / gent_tot
#gen_prch_avg_pp
#gen_prch_avg_pp = gen_prch_tot / pd_df_player_count
#gen_prch_avg_pp
#prch_avg = pd_df["Gender"].value_counts() 
summary_prch_dem = pd.DataFrame({"Purchase Count": gen_prch_cnt, "Average Purchase Price": gen_prch_avg.map("${:.2f}".format), \
                                 "Total Purchase Value" : gen_prch_tot.map("${:,.2f}".format), \
                                 "Avg Total Purchase per Person": gen_purch_pp.map("${:.2f}".format)})
summary_prch_dem.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [368]:
bins = [0,9,14,19,24,29,34,39,200]
group_names = ["< 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
pd_df["Age Summary"] = pd.cut(pd_df["Age"], bins, labels=group_names)
age_bin_tot = pd_df[["Age Summary","SN","Age"]].drop_duplicates().groupby(["Age Summary"]).count()["Age"]
age_bin_pct = round(age_bin * 100 / pd_df_player_count,2)
#age_dem = pd_df["Age Summary","SN",].groupby(["Age Summary"])
summary_age_dem = pd.DataFrame({"Total Count": age_bin_tot, "Percentage of Players": age_bin_pct})
summary_age_dem.head(10)

             Total Count  Percentage of Players
Age Summary
< 10                  17                   2.95
10-14                 22                   3.82
15-19                107                  18.58
20-24                258                  44.79
25-29                 77                  13.37
30-34                 52                   9.03
35-39                 31                   5.38
40+                   12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [388]:
bins = [0,9,14,19,24,29,34,39,200]
group_names = ["< 10","10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
pd_df["Age Purchasing Analysis"] = pd.cut(pd_df["Age"], bins, labels=group_names)
purch_age_bin = pd_df[["Age Purchasing Analysis","Age","Item ID"]].groupby(["Age Purchasing Analysis"]).count()["Item ID"]
purch_price_avg = round(pd_df[["Age Purchasing Analysis","Age","Item ID", "Price"]].groupby(["Age Purchasing Analysis"]).mean()["Price"],2)
purch_val_total = round(pd_df[["Age Purchasing Analysis","Age", "Price"]].groupby(["Age Purchasing Analysis"]).sum()["Price"],2)
purch_tot_gp = age_bin_tot
purch_total_pp = round(purch_val_total / purch_tot_gp, 2)
summary_age_purchase = pd.DataFrame({"Purchase Count": purch_age_bin, "Average Purchase Price": purch_price_avg.map("${:,.2f}".format), \
                                    "Total Purchase Value": purch_val_total.map("${:,.2f}".format), \
                                    "Avg Total Purchase per Person": purch_total_pp.map("${:,.2f}".format)})
summary_age_purchase.head(10)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Purchasing Analysis,,,,
< 10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [586]:
top_spenders = pd_df.groupby(["SN"]).count()["Item ID"]#.sort_values(ascending=False)
avg_purch_price = pd_df.groupby(["SN"]).mean()["Price"]#.sort_values(ascending=False)
tot_purch_price = pd_df.groupby(["SN"]).sum()["Price"]#.sort_values(ascending=False)
summary_top_spenders = pd.DataFrame({"Purchase Count": top_spenders, \
                                     "Average Purchase Price": avg_purch_price.map("${:,.2f}".format), \
                                    "Total Purchase Value [$]": tot_purch_price}).sort_values(by="Total Purchase Value [$]", ascending=False)
summary_top_spenders.head(5)

             Purchase Count Average Purchase Price  Total Purchase Value [$]
SN
Lisosia93                 5                  $3.79                     18.96
Idastidru52               4                  $3.86                     15.45
Chamjask73                3                  $4.61                     13.83
Iral74                    4                  $3.40                     13.62
Iskadarya95               3                  $4.37                     13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [585]:
popular_items = pd_df[["Item ID","Item Name","Price"]]
pi_items_gb = popular_items.groupby(["Item ID","Item Name"])
pi_cnt = popular_items.groupby(["Item ID","Item Name"]).count()["Price"]
pi_price = popular_items.groupby(["Item ID","Item Name"]).mean()["Price"]
pi_total = pi_cnt * pi_price
#pi_total.head(5)
#popular_items = pd_df[["Item ID","Item Name"]].groupby(["Item ID","Item Name"])#.count()["Price"]#.sort_values(ascending=False)
#pi_count = pd_df.groupby(["Item ID"]).count()["Item Name"]
#popular_items = popular_items.pi_count
#price_test = pd_df.groupby(["Item ID"]).count()["Item Name"]
#item_name = pd_df.groupby(["Item ID"]).item()["Item Name"]
#pi_count.head()
#popular_items.first().head(5)
#total_item_price = popular_items * item_price
summary_popular_items = pd.DataFrame({"Purchase Count": pi_cnt, "Item Price [$]" : pi_price, \
                                      "Total Purchase Value [$]": pi_total}).sort_values(by=["Purchase Count", "Item Price [$]", "Item ID"], ascending=[False, True, False])#
                                     #"Total Purchase Value": total_item_price}).sort_values(by="Total Purchase Value", ascending=False)
summary_popular_items.head(5)

,,Purchase Count,Item Price [$],Total Purchase Value [$]
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
145,Fiery Glass Crusader,9,4.58,41.22
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [587]:
profitable_items = pd.DataFrame({"Purchase Count": pi_cnt, "Item Price [$]" : pi_price, \
                                      "Total Purchase Value [$]": pi_total}).sort_values(by=[ \
                                      "Total Purchase Value [$]"], ascending=[False])#
                                     #"Total Purchase Value": total_item_price}).sort_values(by="Total Purchase Value", ascending=False)
profitable_items.head(5)

,,Purchase Count,Item Price [$],Total Purchase Value [$]
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80